.todo {
  width: 500px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*align-self: center;*/
  height: 50px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.input__todo {
  width: 450px;
  height: 50px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.form__todo {
  position: fixed;
  bottom: 50px;
  left: 125px;
}

button {
  border: none;
  transform: translateY(10px);
  background-color: pink;
  height: 70px;
  width: 70px;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

.todo__lists {
  width: 500px;
  height: 200px;
}
